/node_modules
/build
/.DS_Store
.DS_Store/
/coverage
coverage.json
allFiredEvents
scTopics
scripts/node_modules
scripts/.env

.project
.settings
audit/test/testchain/geth
audit/test/testchain/geth.ipc
audit/test/testchain/history
audit/test/contracts
private
